html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}
#left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#left button{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;

}
#left ul{
    list-style: none;
}
#right{
    width: 70%;
    height: 100%;

}
#right img {
    width: 340px;
    height: 300px;
}
#img-right{
    display: flex;
    float: left;
}
#img-left{
    display: flex;
    float: left;
    
}
