html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
   
}
#but{
    width: 10%;

}
#imgi{
    width: 80%;
    display: flex;
    flex-direction: row;
}
#right{
    display: none;
    flex-direction: column;
    
}
#cod{
    width: 31%;
}